@import url(https://fonts.googleapis.com/css?family=Open+Sans);
  input {
      line-height: 2;
      font-size: 18px;
      height: auto;
      padding-left: 20px;
  }

.input-group{
    margin-left: 30%;
}   

body{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;

.search {
  width: 61%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #15b78f;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  
  &:focus{
      color: #00B4CC;
    }
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #15b78f;
  background: #15b78f;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

}
